$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;


$arrow-slider-bg: #2a2a2a;
$left-section-bg: #f4f5f7;
$border-section-gallery: #f2f2f4;
$alert-bg-section-gallery: #000;

$button-text-right-section: #79ad30;
$button-hv-right-section: #a1b882;
$button-right-section-text-color: #fff;
$right-section-bg: #e9edf8;
$title-right-section: #daa464;

$blog-post-details-color: #676767;
$brands-border: 1px solid #e3e3e3;



