@import "variables";
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  all: unset;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  &::-webkit-scrollbar {
    width: 0;
  }
  @import "components/scrollup";
  @import "components/section-nav";
  /*klasa top zawiera treść gry planszowe, zaczynajmy*/
  @import "components/section-top";
  /*zrobiony, aby mozna bylo zrobic margin od gory*/

  /*cały container z klasy .section-top*/

  /*2 sekcja z boxami i historii */
  @import "components/section-history";
  @import "components/section-games";
  @import "components/section-curiosites";
  @import "components/section-quiz";
  @import "components/section-go-game";
  @import "components/section-bottom";
  @import "components/section-footer"; 

  // ############--PRELOADER--############
  @import "components/preloader"; 

  // @media (max-width: 820px) {
  //   @import "media-queries/section-nav";
  // }

  @media (max-width: 700px) {
    @import "media-queries/section-bottom-700";
  }
  //MEDIA - ARROWS//
  @import "media-queries/arrows.scss";

  @media (max-width: 950px) {
    @import "media-queries/section-history";
  }

  @media (max-width: 880px) {
    @import "media-queries/section-curiosites";
    @import "media-queries/section-nav";
    @import "media-queries/section-top";
    @import "media-queries/section-quiz";
    @import "media-queries/section-go-game";
    @import "media-queries/section-bottom";

    .hide-el {
      transform: scaleY(0);
      // transform-origin: 50% 0;
      height: 0;
      // position: relative;
      // top: -500px;
      // left: 0;
    }

    .show-el {
      height: 40vh;
    }
  }
  //displaying section-top on very small devices
  @media (max-height: 640px) {
    .section-top {
      .header {
        .header-container {
          .header-rd {
            margin: 0;
          }
        }
      }
    }
  }
}
