.section-top {
    // display: none;
    .header {

      .hamburger {
        display: flex;
        position: relative;
        top: 10px;
        right: 30px;
        width: 50px;
        height: 50px;
        background: #000;
        .el-hamburger {
  
        }
      }

      .header-container {

        /*pierwszy element*/
        .header-st {
            flex-direction: column;
          img {
            margin: 0 auto 20px;
          }
          p {

          }
        }
        /*drugi element*/
        .header-nd {

        }
        /*trzeci element*/
        .header-rd {

          
          p {

          }
          &:hover {

          }
        }
      }
    }
  }