.section-curiosities {
    padding: 0 0 40px;

    &>.container {
        flex-direction: column;
        align-items: center;

        .left-text-curiosities {

            .title-curiosities {
                text-align: center;
                font-size: 30px;
                padding-left: 0;
            }
        }

        .left-text-curiosities,
        .right-text-curiosities {
            width: 100vw;

            .couriosities {
                flex-direction: column;

                p.text-curiosities {
                    text-align: center;
                    width: 100vw;
                    margin: 0;
                    padding: 20px 60px;
                }
            }
        }
    }
}