.section-history {
  .container {
    .content1 {
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      img {
        width: 110px;
        height: 110px;
      }
    }

    .content2 {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 100px;
      position: static;
      img {
        width: 120px;
        height: 120px;
        transform: translateY(0);
      }
    }

    .content3 {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 100px;
      position: static;
      .box {
        box-shadow: -8px 8px 10px -2px rgba(130, 130, 130, 1);
      }
      img {
        margin: 0;
        width: 110px;
        height: 110px;
      }
    }

    .content4 {
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      position: static;
      .box {
        box-shadow: 8px 8px 10px -2px rgba(130, 130, 130, 1);
      }
      img {
        width: 110px;
        height: 110px;
      }
    }

    .box {
      position: static;
      margin: 0;
      width: 95%;
      height: auto;
      margin-top: 20px;
      margin-bottom: 12px;
    }

    .arrow {
      display: none;
    }

    .fifth {
      box-shadow: 0 5px 15px -2px #544d4d;
    }
  }
}
