.sources {
  margin: 0 auto;
  padding: 50px;
  color: #111;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  // background: #686de0;
  background: #f2f2f2;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  border-radius: 10px;
  font-family: $montserrat;

//   ul {
//     margin-top: 30px;

//     a {
//       margin-left: 10px;
//       transition: 0.2s ease-out;

//       &:hover {
//         color: #f65857;
//         cursor: pointer;
//       }
//     }
//   }
}
