#scrollup {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    background: #ffaa08;
    // line-height: 60px;
    font-size: 50px;
    position: fixed;
    right: 45px;
    bottom: 30px;
    opacity: 0;
    transition: .5s;

    &:hover {
      cursor: pointer;
      background: #cc8800;
    }
  }