// .modal {
//     position: fixed;
//     background: #ffa800;
//     // width: 400px;
//     // height: 200px;
//     padding: 20px;

// }

#modal {
    // display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 30px;
    max-width: 300px;
    margin: auto;
    background: #fff;
    border: 3px solid #ffa800;
    z-index: 4;
    transition: .5s;
    // transform: translateX(-100vw);

    #exit {
        position: absolute;
        top: -3px;
        right: -3px;
        width: 20px;
        height: 20px;
        background: #ff0000;
        z-index: 99;
        cursor: pointer;
    }
}

.modal-none {
    transform: translateX(350px);
}
.section-shop {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .container-shop {
        display: flex;
        flex-wrap: wrap;
        .elements-shop {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;

            padding: 20px;
            // background: #008000;
            .image {
                width: 250px;
                height: 250px;
                background: #000;
                overflow: hidden;
                order: 1;
            }

            .title-product {
                // padding: 5px;
                margin: 20px auto;
                font-size: 20px;
                // background: #000999;
                // text-align: center;
                // width: 90%;
                order: 2;
                

            }

            .prince {
                display: flex;
                justify-content: center;
                width: 80%;
                // text-align: center;
                padding-bottom: 20px;
                border-bottom: 2px solid #444;
                order: 3;
                .prince-text {
                    font-weight: 700;
                    margin-right: 10px;
                }

                .prince-number {

                }

            }

            .buy-button {
                width: 130px;
                padding: 10px;
                margin: 20px 0;
                background: none;
                color: #ffa800;
                border: 2px solid #ffa800;
                transition: .5s;
                order: 4;
                
                &:hover {
                    background: #ffa800;
                    color: #444;
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                    
                }
            }
        }
    }
}