.section-games {
    //min-height: 800px;
    height: 800px;
    background: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        width: 90%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-direction: column;
        text-align: center;
        
          p{
            font-size: 24px;
          }
          .game-first{}
          .game-second{}
          .game-third{}
          .game-fourth{}

          .article-upper{
            font-weight: 900;
          }
          .article-downner{
            font-weight: 600;
          }
      }
    }
  }