.section-curiosities {
    background: #841e1e;
    padding: 10px;

    & > .container {
      display: flex;
      
      .left-text-curiosities {
        width: 50%;
        display: flex;
        flex-direction: column;

        .title-curiosities {
          font-family: $montserrat;
          font-weight: 700;
          font-size: 45px;
          letter-spacing: 10px;
          padding: 70px 0;
          color: #fff;
        }
      }

      .left-text-curiosities,
      .right-text-curiosities {
        width: 50%;
        display: flex;
        flex-direction: column;

        .couriosities {
          display: flex;
          align-items: center;

          p.text-curiosities {
            width: 300px;
            font-size: 18px;
            font-family: $montserrat;
            color: #fff;
            margin: 40px 0 40px 80px;
          }
        }
      }
    }
  }