.section-games {
    //min-height: 800px;
    height: 800px;
    background: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        min-width: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        font-family: $montserrat;
        div {
            // game-first second third fourth
            width: 360px;
            height: 600px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin: 0px 24px 0px 0px;
            overflow: hidden;
            text-align: center;
            p {
                color: #fff;
                text-shadow: 0 0 6px #000;
            }
            p.article-upper {
                font-size: 54px;
                margin: 0px 10px 20% 10px;
            }
            p.article-downner {
                font-size: 16px;
                margin: 0px 10px 0px 10px;
                font-weight: 500;
            }
            .game-first {}
            .game-second {}
            .game-third {}
            .game-fourth {}
            .article-upper {
                font-weight: 900;
            }
            .article-downner {
                font-weight: 600;
            }
        } //parzyste
        div:nth-child(even) {
            background: red;
        } // nieparzyste
        div:nth-child(odd) {
            background: teal;
        }
    }
}