.section-go-game {
    width: 100vw;
    // height: 200px;
    padding: 40px 0;
    background: #ffa800;
    // display: none;
    
    & > .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .img-text {
        margin-left: 50px;
        display: flex;
        img {
          width: 80px;
          height: 75px;
          // float: left;
          margin: 0 20px 0 0;
        }
        .text-image {
          // width: 700px;
          font-family: $montserrat;
          font-size: 18px;
          font-weight: 700;
        }
      }

      .div-buttons {
        display: flex;
        // width: 800px;
        justify-content: space-around;

        .text-buttons {
          font-family: $montserrat;
          font-size: 18px;
          font-weight: 700;
          color: #fff;
          margin-top: 10px;
        }

        .button-go-game {
          border: none;
          background: #503500;
          color: #fff;
          font-size: 17px;
          padding: 7px;
          width: 150px;
          transition: 0.4s;

          &:hover {
            background: #63450a;
          }
        }
      }
    }
  }